:root{
    --bg-colour: rgb(94, 176, 253);
    --swish-colour: rgb(39, 75, 109);
    --usedbutton-colour: rgba(71, 73, 219, 0.596);
    --unusedbutton-colour: rgb(206, 206, 206);
}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

#cont{
    background-color: var(--bg-colour);
    height: 100vh;
    overflow: hidden;
}

#bodyrow{
    background-color: var(--bg-colour);
    display: flex;
    justify-content: center;
}


#titlerow{
    background-color: var(--bg-colour);
    margin-bottom: 1vh;
    position: relative;

}

#adminrow{
    z-index: 1;
    position: absolute;
    width: 100%;
    
}
.adminbutton{
    
    position: absolute;
    height: 10.5vw;
    background-color: transparent;
    border: none;

}

#admin1{
    top: 0px;
    left: 0px;
    
    width: 30vw;
    
}
#admin2{
    top: 0px;
    left: 35vw;
    
    width: 30vw;
}

#admin3{
    top: 0px;
    right: 0px;
    width: 30vw;
}







.titleimg{
    padding: 0px;
    margin: 0px;
    
}




#carimg{
    padding-left: 0px;
    padding-right: 0px;
    
    margin-top: 0px;
    width: 100%;
    max-height: 75vh;
    
}
.imgwrap{
    
    
    position: relative;
}
.buttonwrap{
    width: 100%;
    
    padding-left: 0.8%;
    
}


#buttoncon{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 4.5%; 
    height: 91%;
    
    width:57vmax;
    max-width: 110vw;
    
    
}
.buttonrow{
    display: flex;
    flex-direction: row;
    
}



.buttonrow{
    justify-content: space-evenly;
}








.solarbuttons{
    padding: 0px;
    border-radius: 7px;
    border-color: rgb(95, 194, 255);
    background-color: var(--unusedbutton-colour);
    font-size: 1.2vw;
    font-weight:600;
}

.nobutton{
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.solarbuttons,.nobutton{
    padding: 0px;
    margin: 1px;
    max-height: 2.4vw;
    min-height: 0.1vw;
    width: 4vw;

}



#bottomrow{
    background-color: var(--bg-colour);
    height: 100%;
}







#popupcon{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    
}
.popup{
    
    width: 60vw;
    height: 30vw;
    background-color: var(--swish-colour);
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    border-color: steelblue;
    border-style: solid;
    border-radius: 30px;
    border-width: 0.4vw;
    position: relative;
}
.backbutton{
    position:absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(6, 95, 146);
    border-width: 3px;
    box-shadow: 5px 10px 5px rgba(0,0,0,0.35);
    
}
.swishtxt{
    padding-top: 7vw;
    margin-right: 12vw;
    text-align: center;
    font-size: 2.2vw;
    color: whitesmoke;

}

#qr{
    position: absolute;
    top: 1.7vw;
    right: 1.7vw;
    width: 17vw;
}
#cellnummber{
    position: absolute;
    bottom: 0;
    left: 2vw;
    font-size: 9vw;
    font-weight: 500;
    color: whitesmoke;
}

#acceptbutton{
    background-color: white;
    position: absolute;
    right: 4.25vw;
    bottom: 3vw;
    width: 12vw;
    height: 4vw;
    text-align: center;
    border-radius: 100px;
    line-height: 4vw;
    font-weight: 600;
    font-size: 2vw;
    box-shadow: 5px 10px 5px rgba(0,0,0,0.35);
    border-color: rgb(6, 95, 146);
    border-width: 10px;

}







/*

Old swish css

#popupcon{
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 220px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;

}

#popuprow{
    height: 370px;
    width: 100%;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    
}

#popupcol{
    border: steelblue;
    border-style: solid;
    border-width: 10px;
    border-radius: 40px; 
    margin-left: 150px;
    margin-right: 150px;
    background-color: var(--swish-colour);
}

#swishl{
   
    width: 65%;
}
#swishr{
    
    width: 35%;
}

#backbutton{
    width: 60px;
    height: 60px;
    margin-left: -3px;
    margin-top: 10px;
    background-color: white;
    border-radius: 30px;
}
    
    #qrcode{
        margin-left: 33px;
        margin-top: 20px;
        width: 80%;
    }
#acceptbutton{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 30px;
    background-color: white;
    border-radius: 30px;
}

#cellnummber{
    color: white;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 130px;
}
#swishtxt{
    margin-top: -60px;
    margin-left: 120px;
    color: white;
    font-size: 40px;
}
*/


